{% extends "base.html" %} {% block title %}Libros{% endblock %} {% block content
%}
<h1>Libros</h1>

<div class="grid-container">
	{% for libro in libros %}
	<div class="card">
		<h1>Titulo: {{ libro.titulo }}</h1>
		<div class="autor">Autor: {{ libro.autor }}</div>
		<div class="anio">Año: {{ libro.anio }}</div>
		<div class="categoria">Categoría: {{ libro.categoria }}</div>
		<div class="id_socio">
			Disponible:{% if not libro.id_socio %}Sí{% else %}No{% endif %}
		</div>
		<div class="mt-3 d-flex justify-content-between">
			<button
				class="btn btn-primary"
				onclick="location.href='{{ url_for('libros.ver', id=libro.id) }}'"
			>
				ver
			</button>

			{% if current_user.is_authenticated and current_user.username == 'admin'
			%}
			<button
				class="btn btn-primary"
				onclick="location.href='{{ url_for('libros.editar', id=libro.id) }}'"
			>
				Editar
			</button>
			{% endif %}
		</div>
		<div>
			{% if not libro.id_socio %}<button
				class="btn btn-primary"
				onclick="location.href='{{ url_for('libros.prestar', id=libro.id) }}'"
			>
				Prestar</button
			>{% else %}
			<button
				class="btn btn-danger"
				onclick="location.href='{{ url_for('libros.cancelar_reserva', id=libro.id) }}'"
			>
				Cancelar Préstamo</button
			>{% endif %}
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
