<form method="post" novalidate>
    {{ form.hidden_tag() }}

    <div>
        <label for="{{ form.titulo.id }}">{{ form.titulo.label }}</label>
        {{ form.titulo }}
        {% for error in form.titulo.errors %}
            <p role="alert">{{ error }}</p>
        {% endfor %}
    </div>

    <div>
        <label for="{{ form.autor.id }}">{{ form.autor.label }}</label>
        {{ form.autor }}
        {% for error in form.autor.errors %}
            <p role="alert">{{ error }}</p>
        {% endfor %}
    </div>

    <div>
        <label for="{{ form.anio.id }}">{{ form.anio.label }}</label>
        {{ form.anio }}
        {% for error in form.anio.errors %}
            <p role="alert">{{ error }}</p>
        {% endfor %}
    </div>

    <div>
        <label for="{{ form.categoria.id }}">{{ form.categoria.label }}</label>
        {{ form.categoria }}
        {% for error in form.categoria.errors %}
            <p role="alert">{{ error }}</p>
        {% endfor %}
    </div>

    {{ form.submit }}
</form>
